.navbar {
  background-color: transparent;
  padding: 10px 0;
  box-shadow: none;
  width: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  display: flex;
  justify-content: center;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  border-radius: 25px;
  background-color: var(--white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  max-width: fit-content;
}

.navbar-brand {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.logo {
  max-height: 40px;
}

.navbar-nav {
  list-style-type: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.nav-item {}

.nav-link {
  color: var(--primary-red);
  text-decoration: none;
  font-size: var(--text-base);
  padding: 5px 10px;
  border-radius: 4px;
}