:root {
  --primary-red: rgb(162, 54, 43);
  --primary-red-50: #fbeaea;
  --primary-red-100: #f6c6c6;
  --primary-red-200: #f08e8e;
  --primary-red-300: #ea5757;
  --primary-red-400: #e42f2f;
  --primary-red-500: #a2362b;
  --primary-red-600: #852d23;
  --primary-red-700: #6a241d;
  --primary-red-800: #521b17;
  --primary-red-900: #431511;
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
  --white: #ffffff;
  --black: #000000;
}