:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  app-navbar {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: auto; /* Adjust to ensure it takes the content width */
  }
  
  router-outlet {
    flex: 1;
    margin-top: 80px; /* Adjust based on the navbar height */
  }
  
  app-footer {
    margin-top: auto;
  }