<div class="hero">
  <h1>Welcome to GarayMaestre Arquitectos</h1>
  <p>We bring your architectural dreams to life.</p>
</div>
<div class="gallery">
  <swiper [navigation]="true" [pagination]="{ clickable: true }" class="mySwiper">
    <ng-container *ngFor="let item of galleryItems">
      <ng-template swiperSlide>
        <div class="gallery-item">
          <img [src]="item.image" alt="{{ item.title }}">
          <h3>{{ item.title }}</h3>
        </div>
      </ng-template>
    </ng-container>
  </swiper>
</div>